/* Scrollbar styling */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eae3d2;
}

:root {
  /* ========== Colors ========== */
  --primary-color: #f2a535;
  --primary-color-alt: #f2a6352a;
  --button-color: #424fb5;
  --text-color: #000;
  --link-color: #000;
  --container-color: #fff;
  --nav-color: #424fb5;

  /* ========== Font and typography ========== */
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --h4-font-size: 1.4rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;
  --bottom-nav-font-size: 0.875rem;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* ========== dimensions ========== */
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aca699;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--body-font);
  background-color: rgb(245, 244, 243);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
}

head h1 {
  font-size: var(--h1-font-size);
  font-weight: bold;
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: bold;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: bold;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: 0;
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.5s ease-in;
}

.container {
  /* width: var(--container-width-lg); */
  margin: 0 auto;
}

/* ======NAVIGATIONBAR======= */

nav {
  background-color: var(--container-color);
  width: 100vw;
  height: 5rem;
  position: fixed;
  z-index: 11;
  top: 0;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: row;
}

.nav__list .nav__menu {
  display: flex;
}

.nav__menu a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
  transition: 0.4s ease-in-out;
  background-color: var(--primary-color-alt);
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}

.nav__icon {
  display: none;
}

.cart {
  place-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cart .nav__item-text {
  display: block;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

nav button {
  display: none;
  border: none;
  background-color: transparent;
  margin-left: 5rem;
  cursor: pointer;
}

.clear {
  height: 5rem;
}

/* ============== HomeScreen ================ */

.main-home-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}

/* Categories */
.category-card {
  display: flex;
  margin: 5px;
  height: 40px;
  border-radius: 100px;
  align-items: center;
  border: 1px solid var(--primary-color);
  background-color: var(--container-color);
  width: 150px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.catetories-widget {
  background-color: var(--primary-color);
  overflow: scroll;
  max-width: 100%;
}

.category-items {
  display: flex;
  flex-direction: row;
}

.category-card:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--container-color);
  color: var(--container-color);
}

.category-card-active {
  height: 40px;
  padding: 10px;
  border: 1px solid var(--container-color);
  background-color: var(--primary-color);
}

/* Food List section */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  max-width: 900px;
  justify-content: center;
  align-content: center;
}

/* food card */

.food-rating-home {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 5px;
}

.food-price-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background-color: var(--primary-color);
}

.box1 {
  height: 220px;
  width: 220px;
  margin-top: 100px;
}

.box2 {
  bottom: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--container-color);
  border-radius: 10px;
  justify-content: end;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  align-items: center;
}

.box3 {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: var(--button-color);
  left: 10%;
  top: -100px;
}

/* food detail Modal section */
.food-detail-image {
  border: 1px solid;
  height: 100%;
  border-radius: 8px;
}

.fav-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--container-color);
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.complement-box {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--button-color);
  position: relative;
}

.check {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--button-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: var(--container-color);
}

.complement-active {
  margin-right: 10px;
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
}

.qty-btn {
  height: 30px;
  width: 30px;
  background-color: #04aa6d;
  color: white;
  border-radius: 30px;
}

.cart-btn {
  background-color: var(--primary-color);
  border: 2px solid var(--container-color);
  color: var(--container-color);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}

.cart-bx {
  position: relative;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cart-icon {
  height: 100%;
  width: 100%;
  bottom: 0;
}

.cart-item-count {
  background-color: var(--button-color);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  color: var(--container-color);
}

/* cart modal page */

.cart-item-img {
  height: 100px;

  /* border-radius: 10px; */
}

.cart-calculations {
  background-color: var(--container-color);
}

.cart-checkout-btn {
  background-color: var(--button-color);
  color: var(--container-color);
}

/* ========Mobile View======== */
@media only screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.2rem;
    --h4-font-size: 1rem;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: bold;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: bold;
  }

  h4 {
    font-size: var(--h4-font-size);
    margin-bottom: 0;
    font-weight: bold;
  }

  /* ================BOTTOM NAV MOBILE=================== */
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    font-size: var(--normal-font-size);
  }

  nav ul li a {
    place-items: center;
    display: flex;
    flex-direction: row;
  }

  .nav__icon {
    display: block;
  }

  .nav__item-text {
    display: none;
  }

  .active {
    color: var(--primary-color);
    transition: 0.4s ease-in-out;
    background-color: var(--primary-color-alt);
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
  }

  .active .nav__item-text {
    display: block;
  }

  /* =================== main body=================== */
  .main-home-scrollable {
    height: calc(100vh - 12.5rem);
  }

  /* food card */

  .food-rating-home {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 2px;
  }

  .food-price-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    justify-content: center;
    background-color: var(--primary-color);
  }

  .box1 {
    height: 170px;
    width: 170px;
    margin-top: 50px;
    margin-left: 5px;
  }

  .box2 {
    bottom: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--container-color);
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .box3 {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    background-color: var(--button-color);
    left: 10%;
    top: -70px;
  }

  .spacer {
    height: 10px;
  }

  .food-items {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* #region Tablet version (Tablet: up to 768px) */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .box1 {
    height: 220px;
    width: 220px;
    margin-top: 60px;
  }
}

/* tiny screens */

@media screen and (max-width: 575px) {
  .main-home-scrollable {
    height: calc(100vh - 12.5rem);
  }

  .box1 {
    width: 40vw;
    height: 40vw;
    margin-top: 80px;
  }

  .box2 {
    bottom: 0;
    position: relative;
    height: 20vh;
    width: 40vw;
    background-color: var(--container-color);
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-top: 40vw;
  }

  .box3 {
    position: absolute;
    width: 33vw;
    height: 33vw;
    border-radius: 35vw;
    background-color: var(--button-color);
    left: 3.5vw;
    top: -20vw;
  }
}

/* #endregion */

/* #region Desktop version (Desktop: up to 1024px) */

/* @media screen and (min-width: 1023px) {

} */

/* #endregion */

/* #region TV and extra large screen version (TV or Extra Large: from 1024px) */

/* @media screen and (min-width: 1024px) {

} */

/* #endregion */
